@charset "UTF-8";
@import "../../../utils/scss/base";
@import "../../../utils/scss/mixins";
.list {
  padding: px(96) 0 px(180) 0;
  background: #f3f3f3;
  min-height: 100vh;
}
.top {
  position: relative;
  padding: 0 px(24);

  height: px(360);
  background: url($img_cdn_rul+'product/list/bg_top.jpg') no-repeat center;
  background-size: 100% 100%; 
  background-size: cover;
}

.search {
  padding-top: px(76); 
  @include size(100%, px(76));
  &__content {
    display: flex;
  }
  &__input {
    flex: 1;
    padding: 0 px(20);
    font-size: 14px;
    background: #eeeeee;
  
    border: none;
  }
  &__btn {
    margin-left: px(10);
    @include size(px(160), px(76));
    font-size: 14px;
    color: #fff;
    background: $main_color;
    border: 1px solid rgba(255,255,255,.8);
  }
  &__history {
    &__span {
      display: inline-block;
      line-height: px(48);

      margin: px(10) px(10) 0 0;
      padding: 0 px(12);
      background: rgba(255,255,255,.7);
      color: #333;
      font-size: px(24);
      height: px(48);
    }
  }
}