@charset "UTF-8";
@import "../../../utils/scss/base";
@import "../../../utils/scss/mixins";
.product {
  padding-top: 96px;
  &__add {
    background: $main_color;
    width: 160px;
    height: 60px;
    margin: 20px auto 20px;
    line-height: 60px;
    font-size: 26px;
    color: #fff;
    text-align: center;
  }
  &__desc {
    margin: 40px 24px 60px;
  }
}
.title {
  position: relative !important;
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  padding: 24px 0;
  background: #ededed;
}
.info {
  width: 630px;
  font-size: 14px;
  color: #343434;
  line-height: 56px;
  margin: 40px auto 0;
  position: relative;
  border: 1px solid $main_color;
  border-top: 5px solid  $main_color;
  padding: 20px 25px;

  &__title {
    position: absolute;
    font-size: 36px;
    font-weight: normal;
    color: $main_color;
    top: -17px;
    left: 34%;
    padding: 0 21px;
    line-height: 26px;
    z-index: 2;
    background: #fff;
  }
}
.desc {
  font-size: 12px;
}
.desc-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  color: #3c3c3c;
}
.desc-table {
  margin-bottom: 40px;
  width: 100%;
  border-collapse: collapse;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  width: 50%;
  display: table-cell;
  vertical-align: top;
  background: #fff !important;
  color: #333;
  padding: 8px 6px;
  text-align: left;
  border: 1px solid #cbcbcb;
}

table tr td:first-child {
  color: #666;
}
.desc-imgs {
  margin: 0 24px 40px;
}
.desc-img {
  width: 100%;
}
.recommend {
  margin: 0 24px 60px;

  &__title {
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #bdbdbd;

    &--text {
      font-size: 30px;
      color: $main_color;
    }
    &--btn {
      position: relative;
      padding-right: 30px;
    }
    &--btn::after {
      position: absolute;
      top: 3px;
      right: 5px;
      content: '';
      background: url($img_cdn_rul + 'icon/refresh_icon.png') no-repeat center/100%;
      width: 20px;
      height: 30px;
    }
  }
  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
  }
  &__item {
    width: 48%;
    margin-bottom: 20px;
  }
}
.go_cart {
  position: fixed;
  right: 0;
  bottom: 20%;
  padding: px(14) px(10);
  font-size: px(24);
  line-height: px(40);
  width: px(40);

  border: 1px solid $main_color;
  background: $main_color;
  color: #fff;
  text-align: center;
  z-index: 7;
}



