@charset "UTF-8";
@import "../../utils/scss/base";
@import "../../utils/scss/mixins";
.main {
    padding: px(96) 0 px(180) 0;
}
.content {
    margin: 0px 0 0px 0; 

    &__body {
        padding: 0 20px;
    }

    &__category {
        margin-top: px(30); 
        display: flex;
        justify-content: space-between;

        &--low {
            margin-top: px(10); 
        }

        &__image {
            position: relative;

            @include size(px(350), px(360));

            &--low {
                @include size(px(350), px(180));
            }
        }
        &__image-span {
            position: absolute;
            left: px(10);
            bottom: px(10);

            font-size: px(28);
            color: #FFFFFF;
        }

        &__img {
            @include size(100%);
        }
    }

    &__products {
        margin-top: px(10);
    }
    &__products-image {
        position: relative;

        @include size(100%, px(270));
    }
    &__products-image-span {
        position: absolute;
        left: 0;
        bottom: px(10);

        @include size(100%, px(40));
        text-align: center;
        font-size: px(28);
        color: #FFFFFF;
    }
    &__products-img {
        @include size(100%);
    }
}

.activity {
    
    &__title {
        padding: px(40) 0;
        line-height: px(40);
        font-size: px(36);
    }

    &__item {
        margin-bottom: px(40);

        font-size: px(28);
    }

    &__item-content {
        margin-bottom: px(16);
    }

    &__item-time {
        line-height: px(24);

        font-size: px(24);
        color: #6e6e6e;
        padding-left: px(36);
        background: url(http://www.opple.com.cn/web/ucan/images/about/rl.png) no-repeat left center;
    }
}
.brand {
    &__title {
        padding: px(40) 0;

        font-size: px(36);
    }

    &__items {
        display: flex;

        justify-content: space-between;
    }

    &__item {
        // @include size(px(180), px());
        width: px(330);
        font-size: px(28);
    }

    &__img {
        @include size(px(330), px(180));
    }

    &__content {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__time {
        font-size: px(24);
        color: #6e6e6e;
    }
}