@charset "UTF-8";
@import "../../utils/scss/base";
@import "../../utils/scss/mixins";

.video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}
.pause, .play {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
    img {
      width: 48px;
      height: 48px;
    }
  }
  video {
    width: 100%;
    height: 100%;
  }
  .img {
    width: 100%;
    height: 100%;
  }