@charset "UTF-8";
@import "../../../utils/scss/base";
@import "../../../utils/scss/mixins";

.empty {
  margin-top: px(200);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3c3c3c;
  font-size: px(30);
  line-height: px(80);

  &__btn {
    margin-top: px(60);
    background: $main_color;
    height: px(60);
    width: px(180);
    font-size: px(30);
    line-height: px(60);
    color: #ffffff;
    text-align: center;
    border-radius: px(8);
  }
}